// Fonts
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
// TODO: Add font-family: Neue Haas Grotesk and $font-secondary
$font-default: 'Jost', sans-serif;


// Cores
$color-primary: #005298;
$color-white: #E2E2E2;
$color-gray: #B4ABA2;
$color-black: #272727;
$color-orange: #D06740;
$color-sky-blue: #B1D3E5;
$color-green: #6D8D2A;
$color-yellow: #B48F41;
$color-pink: #C96570;